* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    background-image: url(makkah.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 468px;
}

section .menu {
    padding-top: 50px;
    text-align: center;
    line-height: 50px;
}

section h3 {
    font-size: 28px;
    text-align: center;
}
section h1 {
    font-size: 63px;
    line-height: 100px;
    text-align: center;
}

section p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 30px;
}

section button   {
    width: 200px;
    margin-left: 43%;
    padding: 13px;
    background-color: rgb(13, 192, 13, 0.8);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

section button:hover {
    background-color: rgb(184, 255, 77, 0.8);
    color: black;
}

section button .fab {
    margin-right: 10px;
}

nav{
    height: 50px;
    margin: auto;
    background-color: rgb(255, 222, 193);
    padding: 10px;
    text-align: center;
}

header {
    background-image: linear-gradient(to bottom, rgb(246, 182, 125) 50%, rgb(255, 222, 193));
    display: flex;
    justify-content: space-between;
    align-items: center; /* agar berada di tengah header*/
    padding: 10px 20px;
    color: #fff;
}

header .judul {
    font-weight: bold;
    font-size: 50px;
    color: rgb(252, 248, 248);
    padding-top: 10px;
    padding-left: 39%; /* menengahkan judul */
}

header .tombol button {
    border-top: 1px solid #fff;
    width: 80px;
    height: 30px;
    background-color: rgb(246, 182, 125);
    font-weight: bold;
    color: rgb(251, 251, 252);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.3);
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

ul li a {
    list-style: none;
    padding: 10px;
    display: block;
    color: black;
}

/* sub menu Jadwal */
ul li .subJadwal {
    background-color: rgb(249, 198, 153);
    display: none;
    position: absolute;
    
}

ul li:hover .subJadwal  {
    display: block;
}

.subJadwal li{
    display: block;
}

.subJadwal li a:hover {
    background-color: white;
}

/* sub menu Umroh */
ul li .subUmroh {
    background-color: rgb(249, 198, 153);
    display: none;
    position: absolute;
}

ul li:hover .subUmroh  {
    display: block;
}

.subUmroh li{
    display: block;
}

.subUmroh li a:hover {
    background-color: white;
}

/* sub menu Haji */
ul li .subHaji {
    background-color: rgb(249, 198, 153);
    display: none;
    position: absolute;
}

ul li:hover .subHaji  {
    display: block;
}

.subHaji li{
    display: block;
}

.subHaji li a:hover {
    background-color: white;
}

footer {
    background-color: rgb(255, 222, 193);
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 18px;
}

footer span {
    font-weight: bold;
}